[Unit]
Description=V3 Adaptive Multi-Protocol Airport Service
After=network.target network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/v3-airport/linux
Environment="GOMEMLIMIT=40MiB" "GOGC=20"
ExecStart=/bin/sh /root/v3-airport/linux/start.sh
Restart=always
RestartSec=3
LimitNOFILE=65535
LimitNPROC=65535

[Install]
WantedBy=multi-user.target
